@import '~LessConstants';

.container {
  flex: 0 1 auto;
  min-width: 500px;
  font-family: @main-font;
  padding-bottom: 20px;

  .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    .line {
      display: flex;
      justify-content: space-between;
      height: 29px;
      width: 410px;
      margin-bottom: 5px;

      .field {
        display: block;
        width: 150px;
        font-size: 16px;
        letter-spacing: 0.03em;
      }

      .value {
        width: 250px;
        font-size: 16px;
        font-weight: 300;
        text-align: left;
      }
    }
  }
}
