@import '~LessConstants';

.container {
  width: ~'calc(100vw - 200px)';
  height: ~'calc(100vh - 72px)';
  box-sizing: border-box;
  padding: @extra-padding;
  overflow-x: scroll;

  .sub-heading {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 20px;
  }

  .sort-by {
    margin-bottom: 10px;

    .item {
      display: block;
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 8px;

      span {
        font-weight: 600;
        cursor: pointer;
      }
    }

    .link {
      display: block;
      color: @blue;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .message-box {
    width: 80%;
    max-width: 800px;
    padding: @normal-padding;
    border-radius: @border-radius;
    border: @border-silver;

    .message {
      width: 100%;
      margin: 10px 0;
      border-bottom: @border-silver;

      .right-icons {
        float: right;

        img {
          width: 16px;
          cursor: pointer;

          &:first-child {
            margin-right: 5px;
          }
        }
      }

      .subject {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 5px;
      }

      .to-from-date {
        font-size: 12px;
        font-style: italic;
        margin-bottom: 10px;
      }

      .body {
        font-size: 14px;
        line-height: 1.2;
        margin-bottom: 10px;
      }
    }
  }

  .no-messages {
    font-size: 16px;
    font-weight: 300;
  }

  .more-button {
    width: 100%;
    text-align: center;
  }
}
