@import '~LessConstants';

.container {
  flex: 0 1 200px;
  display: block;
  width: 200px;
  margin-top: 20px;

  .drop-zone {
    position: relative;
    height: 200px;
    border-radius: @border-radius;
    background-color: @mist;

    p {
      position: absolute;
      left: 50%;
      top: 40%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
      font-family: @main-font;
      color: @black;
      font-size: 14px;
      cursor: pointer;
    }
  }

  .directions {
    width: 90%;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    margin: 10px auto;
  }

  .status {
    width: 90%;
    font-size: 14px;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;

    &.success {
      color: @green;
    }

    &.error {
      color: @red;
    }
  }
}
