@import '~LessConstants';

.container {
  font-family: @main-font;
  padding: @extra-padding;

  .new-message {
    width: 400px;
    padding: @extra-padding;
    border-radius: @border-radius;
    border: @border-silver;

    .status {
      height: 12px;
      font-size: 12px;
      margin: 10px 0;

      .error {
        color: @red;
      }

      .success {
        color: @green;
      }
    }
  }
}
