@import '~LessConstants';

.container {
  margin-bottom: 20px;

  .message {
    display: inline-block;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    color: @green;
    margin-left: 10px;
  }
}
