@import '~LessConstants';

.container {
  font-family: @main-font;

  .text-box {
    display: block;
    height: auto;
    width: 100%;
    border-radius: @border-radius;
    border: @border-silver;
    box-shadow: 0 1px @white;
    transition: box-shadow 0.3s;
    box-sizing: border-box;
    color: @black;
    font-size: 14px;
    resize: none;
    padding: 5px;
    margin: 10px auto 0 auto;

    &:focus {
      outline: none;
    }
  }
}
