// Fonts
@main-font: 'Montserrat', sans-serif;

// Colors
@white: #fff;
@black: #000;
@grey: #a1a1a1;
@dove-grey: #696969;
@mist: #dedfe0;
@dusty: #f1f1f1;
@silver: #c7c7c7;
@blue: #6495ed;
@red: #e4002b;
@green: #47e891;

// Other
@normal-padding: 20px;
@extra-padding: 40px;
@border-radius: 5px;
@border-silver: 1px solid @silver;
@box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.34), 0 0 2px 0 rgba(0, 0, 0, 0.22);
