@import '~LessConstants';

.heading-base {
  color: @black;
  font-weight: 600;
  margin-bottom: 20px;
}

.very-big-heading {
  .heading-base();
  font-size: 22px;
}

.big-heading {
  .heading-base();
  font-size: 20px;
}

.medium-heading {
  .heading-base();
  font-size: 18px;
}

.small-heading {
  .heading-base();
  font-size: 16px;
}

.error {
  height: 20px;
  color: @red;
  font-size: 14px;
  margin: 5px 0;
}

.button-spacing {
  display: inline-block;
  width: 10px;
}
