@import '~LessConstants';

.container {
  padding: @extra-padding;
  width: 500px;

  .caption-box {
    margin-bottom: 20px;
  }

  .drop-zone {
    padding: @normal-padding;
    border: @border-silver;
    border-radius: @border-radius;
    text-align: center;
  }

  .directions {
    font-size: 14px;
    font-weight: 600;
    margin: 20px 0;
  }

  .status {
    font-size: 14px;
    font-style: italic;
    font-weight: 600;

    &.success {
      color: @green;
    }

    &.error {
      color: @red;
    }
  }
}
