@import '~LessConstants';

.container {
  display: inline-block;
  font-family: @main-font;

  .button {
    min-width: 80px;
    background-color: @blue;
    color: @white;
    font-size: 14px;
    text-transform: capitalize;
    border-radius: @border-radius;
    border: 0;
    outline: none;
    padding: 8px 10px;
    cursor: pointer;
  }
}
