@import '~LessConstants';

.container {
  display: flex;
  align-items: center;
  height: 30px;
  padding: @normal-padding;
  background-color: @white;
  border-bottom: @border-silver;
  font-family: @main-font;

  .title {
    color: @blue;
    font-weight: 600;
    font-size: 22px;
  }

  .right-box {
    display: block;
    margin-left: auto;

    @media (max-width: 630px) {
      max-width: 250px;
      text-align: right;
    }

    .link {
      display: inline-block;
      color: @dove-grey;
      font-size: 14px;
      margin-right: 10px;

      &:hover {
        color: @black;
        cursor: pointer;
      }

      &.active {
        color: @blue;
      }
    }
  }
}
