@import '~LessConstants';

.container {
  .content {
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: @main-font;
    font-size: 18px;
    color: @blue;
  }
}
