@import '~LessConstants';

.container {
  font-family: @main-font;
  padding: @normal-padding;

  .content {
    width: 80%;
    max-width: 800px;
    color: @dove-grey;

    .about {
      font-size: 16px;
      margin-bottom: 40px;
      padding: @normal-padding;
      border-radius: @border-radius;
      border: @border-silver;

      p {
        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .tech-stack {
      padding: @normal-padding;
      border-radius: @border-radius;
      border: @border-silver;

      p {
        &:first-child {
          margin-top: 0;
        }
      }

      .item {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 20px 0;

        &:last-child {
          margin-bottom: 0;
        }

        img {
          width: 40px;
          height: 40px;
          margin-right: 10px;
        }

        .name {
          font-size: 18px;
          font-weight: bold;

          &:hover {
            opacity: 0.8;
            cursor: pointer;
          }
        }
      }
    }

    span {
      color: @blue;
    }
  }
}
