@import '~LessConstants';

.container {
  font-family: @main-font;

  input {
    display: block;
    height: 39px;
    width: 240px;
    border: @border-silver;
    border-radius: @border-radius;
    box-sizing: border-box;
    outline: 0;
    color: @black;
    font-size: 14px;
    padding: 5px;
    margin: 5px auto;

    &:focus {
      outline: 0;
    }

    &:disabled {
      opacity: 0.6;
      cursor: default;
    }
  }
}
