@import '~LessConstants';

.container {
  width: 200px;
  height: ~'calc(100vh - 72px - 60px)';
  box-sizing: border-box;
  border-right: @border-silver;
  border-bottom: @border-silver;
  padding: @normal-padding;
  overflow-x: scroll;

  .stats {
    .header {
      font-size: 18px;
      font-style: italic;
      margin-bottom: 15px;
    }

    .count {
      font-size: 16px;
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
