@import '~LessConstants';

.container {
  width: 300px;
  border-radius: @border-radius;
  border: @border-silver;
  padding: @normal-padding;
  font-family: @main-font;

  .heading {
    font-size: 16px;
    color: @dove-grey;
    text-align: center;
    margin-bottom: 10px;
  }

  .error {
    height: 20px;
    color: @red;
    font-size: 14px;
    text-align: center;
    margin: 5px 0;
  }

  .buttons {
    text-align: center;
    margin-top: 10px;
  }
}
