@import '~LessConstants';

.dropdown {
  position: relative;
  width: 100%;
  font-family: @main-font;
  border: @border-silver;
  border-radius: @border-radius;
  font-size: 14px;

  select {
    width: 100%;
    background-color: @white;
    color: @black;
    font-size: inherit;
    border: none;
    outline: none;
    margin: 0;
    padding: 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
