@import '~LessConstants';

.container {
  font-family: @main-font;

  .sort-limit {
    margin-bottom: 20px;

    .dropdown {
      display: inline-block;

      .label {
        color: @black;
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 5px;
      }

      &:first-child {
        width: 200px;
        margin-right: 10px;
      }

      &:nth-child(2) {
        width: 100px;
        margin-right: 10px;
      }
    }

    .search-bar {
      display: inline-block;

      .search-button {
        margin-left: 5px;
      }

      .clear-search {
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        color: @blue;
        cursor: pointer;
        margin-left: 5px;
      }
    }
  }

  .posts {
    width: 90%;
    max-width: 800px;
    padding: @normal-padding;
    border-radius: @border-radius;
    border: @border-silver;

    .post {
      border-bottom: @border-silver;
      margin-bottom: 20px;

      &:last-child {
        border-bottom: 0;
        margin-bottom: 0;
      }

      .delete {
        width: 16px;
        float: right;
        cursor: pointer;
      }

      .title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 5px;
      }

      .user-date {
        font-size: 14px;
        font-weight: 300;
        font-style: italic;
        margin-bottom: 12px;
      }

      .body {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.2;
        padding-bottom: 10px;
      }
    }

    .no-posts {
      font-size: 16px;
      font-weight: 300;
    }

    .more-button {
      width: 100%;
      text-align: center;
    }
  }
}
