@import '~LessConstants';

.container {
  flex: 0 1 auto;
  min-width: 500px;
  font-family: @main-font;
  padding: @normal-padding;

  .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    .line {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 80%;
      max-width: 350px;
      margin-bottom: 5px;

      .field {
        font-size: 16px;
        letter-spacing: 0.03em;
      }
    }

    .buttons {
      display: block;
      padding-top: 20px;
    }
  }
}
