@import '~LessConstants';

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 100;
  height: 100vh;
  overflow: hidden;

  .box {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    background-color: @white;
    border-radius: 2px;

    .close {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 14px;
      height: 14px;
      opacity: 0.4;

      &:hover {
        opacity: 0.6;
        cursor: pointer;
      }
    }

    .content {
      padding: 40px;

      .image {
        max-width: 80vw;
        max-height: 80vh;
        margin: 0 auto;
      }

      .info {
        text-align: center;
        font-size: 16px;
        margin: 10px 0 20px 0;
      }

      .button {
        text-align: right;
      }
    }
  }
}
