@import '~LessConstants';

.profile-box {
  display: flex;
  flex-direction: row;
  width: 550px;
  font-family: @main-font;
  border-radius: @border-radius;
  border: @border-silver;
  padding: 20px;
  margin-bottom: 10px;

  .picture {
    align-self: center;
    margin-right: 15px;

    .img {
      border-radius: @border-radius;
      width: 150px;
      height: 150px;
      object-fit: cover;
      object-position: top center;
    }
  }

  .info {
    .line {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;

      .field {
        display: block;
        width: 150px;
        font-size: 16px;
        letter-spacing: 0.03em;
      }

      .value {
        width: 250px;
        font-size: 16px;
        font-weight: 300;
        text-align: left;
      }
    }
  }
}
