@import '~LessConstants';

.container {
  display: flex;
  align-items: center;
  font-family: @main-font;
  height: 60px;

  .copyright {
    font-size: 14px;
    color: @dove-grey;
    padding-left: 20px;
  }
}
