@import '~LessConstants';

.container {
  font-family: @main-font;
  min-height: 139px;

  .location {
    font-size: 14px;
    color: @dove-grey;
    margin-bottom: 8px;

    span {
      font-size: 14px;
      color: @black;
      font-weight: 600;
    }
  }

  .info {
    font-size: 14px;
    color: @dove-grey;
    margin-bottom: 5px;
  }

  .temp {
    font-size: 12px;
    color: @dove-grey;
    font-style: italic;
    margin-bottom: 3px;
  }

  .line {
    font-size: 12px;
    color: @dove-grey;
    margin-left: 10px;
  }

  .change {
    font-size: 12px;
    color: @blue;
    font-weight: 600;
    margin-top: 12px;
    cursor: pointer;
  }

  .no-info {
    font-size: 15px;
    line-height: 1.3;
    color: @dove-grey;
    margin-bottom: 5px;
  }
}
