@import '~LessConstants';

.container {
  font-family: @main-font;

  input {
    width: 100%;
    display: block;
    height: 39px;
    width: 100%;
    border: @border-silver;
    border-radius: @border-radius;
    box-sizing: border-box;
    outline: 0;
    color: @black;
    font-size: 14px;
    margin: 10px auto 0 auto;
    padding: 5px;

    &:focus {
      outline: 0;
    }
  }
}
