@import '~LessConstants';
@image-path: '../../assets';

.container {
  font-family: @main-font;
  width: 100vw;
  height: 100vh;
  background-color: @dusty;

  .box {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 50%;
    top: 45%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: @white;
    border-radius: @border-radius;
    box-shadow: -12px 33px 40px 0 rgba(199, 200, 203, 0.85);

    .box-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;

      @media (max-width: 600px) {
        width: 340px;
        padding-bottom: 40px;
      }

      @media (min-width: 601px) and (max-width: 700px) {
        width: 290px;
        padding-bottom: 40px;
      }

      @media (min-width: 701px) and (max-width: 800px) {
        width: 320px;
      }

      @media (min-width: 801px) and (max-width: 900px) {
        width: 340px;
      }

      @media (min-width: 901px) {
        width: 400px;
      }

      .title {
        text-align: left;
        color: @dove-grey;
        font-size: 22px;
        letter-spacing: 0.04em;
        padding-top: 40px;
        padding-left: 40px;

        span {
          font-weight: 600;
          color: @blue;
        }
      }

      .auth-fields {
        &.login {
          @media (max-width: 600px) {
            padding-top: 40px;
          }

          @media (min-width: 601px) {
            padding-bottom: 100px;
          }
        }

        &.sign-up {
          @media (max-width: 600px) {
            padding-top: 30px;
          }

          @media (min-width: 601px) and (min-width: 700px) {
            padding-bottom: 40px;
          }

          @media (min-width: 701px) {
            padding-bottom: 60px;
          }
        }

        .heading {
          color: @dove-grey;
          font-size: 22px;
          letter-spacing: 0.04em;
          text-align: center;
          margin-bottom: 15px;

          span {
            color: @blue;
          }
        }

        .auth-error {
          height: 12px;
          font-size: 12px;
          color: @red;
          margin: 10px 0;
        }

        .other-link {
          display: inline-block;
          color: @blue;
          font-size: 14px;
          font-style: italic;
          font-weight: 300;
          margin-top: 10px;
          cursor: pointer;
        }
      }
    }

    .box-right {
      position: relative;
      background-image: url('@{image-path}/background.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      border-top-right-radius: @border-radius;
      border-bottom-right-radius: @border-radius;

      @media (max-width: 60px) {
        display: none;
      }

      @media (min-width: 601px) and (max-width: 700px) {
        width: 250px;
        min-height: 450px;
      }

      @media (min-width: 701px) and (max-width: 800px) {
        width: 300px;
        min-height: 500px;
      }

      @media (min-width: 801px) and (max-width: 900px) {
        width: 350px;
        min-height: 500px;
      }

      @media (min-width: 901px) and (max-width: 1000px) {
        width: 400px;
        min-height: 550px;
      }

      @media (min-width: 1001px) {
        width: 500px;
        min-height: 550px;
      }
    }
  }
}
