@import '~LessConstants';

.container {
  display: inline-block;
  font-family: @main-font;

  .button {
    width: 110px;
    height: 40px;
    background-color: @blue;
    color: @white;
    font-size: 14px;
    border-radius: @border-radius;
    border: 0;
    outline: none;
    padding: 8px 4px;
    margin-right: 10px;
    cursor: pointer;
  }
}
