@import '~LessConstants';

.container {
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;

  p {
    font-family: @main-font;
    color: @blue;
    font-size: 22px;
    margin-top: 0;
  }
}
