@import '~LessConstants';

.container {
  font-family: @main-font;
  padding: @normal-padding;

  .user-profile {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;

    .picture {
      padding-top: 20px;

      .img {
        border-radius: @border-radius;
        width: 150px;
        height: 150px;
        object-fit: cover;
        object-position: top center;
      }
    }

    .display-profile {
      padding: @normal-padding;
    }
  }

  .posts-heading {
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 10px;
  }
}
