@import '~LessConstants';

.container {
  font-family: @main-font;

  .location {
    font-size: 16px;
    color: @dove-grey;
    text-align: center;
    margin-bottom: 10px;
  }

  .buttons {
    text-align: center;
    margin-top: 10px;
  }
}
