@import '~LessConstants';

.container {
  width: 95%;
  max-width: 1000px;
  border: @border-silver;
  border-radius: @border-radius;

  @media (max-width: 750px) {
    padding: 10px;
  }
  @media (min-width: 751px) and (max-width: 950px) {
    padding: 20px;
  }
  @media (min-width: 951px) {
    padding: @extra-padding;
  }

  .image-container {
    display: grid;
    align-items: end;
    grid-template-rows: auto;

    @media (max-width: 750px) {
      grid-template-columns: 100%;
      margin: auto;
    }
    @media (min-width: 751px) and (max-width: 950px) {
      grid-template-columns: 50% 50%;
    }
    @media (min-width: 951px) and (max-width: 1200px) {
      grid-template-columns: 33% 33% 33%;
    }
    @media (min-width: 1201px) {
      grid-template-columns: 25% 25% 25% 25%;
    }

    .box {
      justify-self: center;
      padding: 10px;

      .image {
        // needs to be adjusted
        max-width: 200px;
        max-height: 200px;
        cursor: pointer;
      }

      .caption {
        font-size: 14px;
      }

      .user {
        font-size: 12px;
        font-style: italic;
        margin-bottom: 5px;
      }

      .like-row {
        position: relative;

        .likes {
          display: inline-block;
          vertical-align: bottom;
          font-size: 16px;
          font-weight: 600;
        }

        .thumb-up {
          width: 20px;
          display: inline-block;
          vertical-align: middle;
          margin-left: 5px;
          padding-bottom: 2px;
          cursor: pointer;
        }

        .trash-can {
          width: 16px;
          display: inline-block;
          vertical-align: middle;
          float: right;
          cursor: pointer;
        }
      }
    }

    .no-pics {
      font-size: 16px;
      font-style: italic;
    }
  }
}
