@import '~LessConstants';

.container {
  font-family: @main-font;
  padding: 40px;

  .sort-limit {
    margin-bottom: 20px;

    .dropdown {
      display: inline-block;

      .label {
        color: @black;
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 5px;
      }

      &:first-child {
        width: 200px;
        margin-right: 10px;
      }

      &:last-child {
        width: 100px;
      }
    }
  }

  .users {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
  }
}
