@import '~LessConstants';

.container {
  width: ~'calc(100vw - 200px)';
  height: ~'calc(100vh - 72px - 60px)';
  box-sizing: border-box;
  border-bottom: @border-silver;
  padding: @extra-padding;
  overflow-x: scroll;

  .date {
    font-size: 16px;
    text-align: right;
    margin-bottom: 10px;
  }

  .greeting {
    font-size: 22px;
    margin-bottom: 40px;
  }

  .new-messages {
    font-size: 18px;
    color: @black;
    font-weight: 600;
    cursor: pointer;
  }

  .extra-margin {
    margin-bottom: 40px;
  }

  .posts-container {
    width: 90%;
    max-width: 800px;
    padding: @normal-padding;
    border-radius: @border-radius;
    border: @border-silver;

    .post {
      border-bottom: @border-silver;
      margin-bottom: 20px;

      &:last-child {
        border-bottom: 0;
        margin-bottom: 0;
      }

      .title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 5px;
        cursor: pointer;
      }

      .user-date {
        font-size: 14px;
        font-weight: 300;
        font-style: italic;
        margin-bottom: 12px;
        cursor: pointer;
      }
    }

    .no-posts {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.2;
    }
  }
}
