@import '~LessConstants';

.container {
  width: 200px;
  height: ~'calc(100vh - 72px)';
  box-sizing: border-box;
  border-right: @border-silver;
  padding: @normal-padding;
  overflow-x: scroll;

  .albums {
    font-size: 16px;
    font-style: italic;
    margin: 25px 0 15px 0;
  }

  .folder {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 500;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }

    &.active {
      color: @blue;
      font-weight: 500;
    }

    .label {
      text-transform: capitalize;
    }
  }
}
